<?xml version="1.0" encoding="UTF-8" standalone="yes"?>




<channels>
<channel>
<name>[B][COLOR deepskyblue]ADD-ON TEAMBLUE[/B][/COLOR]</name>
<thumbnail></thumbnail>
</subitem>
</item>

<item>
<title>[B][COLOR deepskyblue]ADD-ON TEAMBLUE[/B][/COLOR]</title>"
<link>http://ignorame</link>
<externallink>https://raw.githubusercontent.com/inspirationlinks/inspiration/novo-adoon/.gitignore/SOURCE_ENCRYPT$$LSProEncKey=chave$$</externallink>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
</item>


